<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- 基本 -->
    <meta name="keywords" content="Best Gifter, ベストギフター, 結婚祝い, ギフト, プレゼント, 新郎新婦" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Best Gifter Wedding | 新郎新婦へ、最高のギフトを贈りたい。" />
    <meta property="og:description" content="新郎新婦への結婚祝いのギフトを選ぶ時に「どんなジャンルが適しているのか」「いくらくらいが常識の範囲内なのか」「いくつか厳選したがこれでいいのか」が分かるサービス。" />
    <meta property="og:site_name" content="Best Gifter Wedding（ベストギフターウェディング）" />
    <meta property="og:image" content="https://www.best-gifter.work/img/top_image_pink.JPG" />

    <!-- Twitter用の設定 -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://www.best-gifter.work/img/top_image_pink.JPG" />
    <meta name="twitter:site" content="Best Gifter Wedding（ベストギフターウェディング）" />

    <title>BestGifter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'hello_vue' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_vue', 'data-turbolinks-track': 'reload' %>
    <% if Rails.env.production? %>
      <%= render partial: 'layouts/google_analytics' %>
    <% end %>
    <%= favicon_link_tag('/favicon.ico') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
